.listings-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px; /* Adjust the gap between cards as needed */
    padding: 16px; /* Adjust the padding around the grid as needed */
  }
  
  @media (max-width: 768px) {
    .listings-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .listings-grid {
      grid-template-columns: 1fr;
    }
  }
  .image-card img {
    width: 100%;
    height: auto;
  }
  
  .info-card {
    margin: 16px;
    padding: 16px;
  }
  
  .info-card-header {
    display: flex;
    justify-content: space-between;
    align-items: left;
  }
  
  .post-button {
    margin-left: auto;
  }  